body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  background-color: #010101df;
  background-color: orange;
  color: #fff;
}

a {
  color: #fff;
}

.btnStyle {
  width: 280px;
  height: 60px;
  font-size: 20px;
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid #fff;
  transition: 0.3s;
  text-align: center;
  line-height: 60px;
  box-sizing: border-box;

  &:hover {
    background: linear-gradient(to right, #31f8ab, #39c2ee);
    border: 0;
    color: #101010;
  }
}

.inner {
  width: 1360px;
  margin: 0 auto;
}

.row {
  box-sizing: border-box;
  padding: 0 32px;
}

.active {
  color: #5cffc0;
}

.hide {
  display: none;
}

/* header 시작 */

header {
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;

  .inner {
    .header {
      display: flex;
      justify-content: space-between;

      h1 {
        a {
          img {}
        }
      }

      nav {
        width: calc(100% - 220px);

        ul {
          display: flex;
          justify-content: space-evenly;
          align-items: center;

          li {
            a {
              &:hover {
                color: #5cffc0;
              }
            }
          }
        }
      }
    }
  }
}

/* header 종료 */

/* main 시작 */

main {
  section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
      text-align: center;
      font-size: 48px;
      font-weight: 600;
      line-height: 2;
    }
  }

  /* section main_VIDEO 시작 */
  .main_VIDEO {
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: -1;
    }

    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      object-fit: cover;
      z-index: -2;
    }

    >p {
      font-size: 72px;
      font-weight: 600;
      line-height: 1.5;
      margin-bottom: 4.25rem;
      text-align: center;

      strong {
        color: #5cffc0;
      }
    }

    >.mouseScroll {
      position: absolute;
      bottom: 30px;
      width: 10px;
      display: flex;
      align-items: center;
      flex-direction: column;

      >img {
        margin: 4px;
        animation-name: move; // 애니메이션 명
        animation-duration: 0.4s; // 완료까지 걸리는 시간 설정
        animation-timing-function: linear; // 속도 곡선 설정
        animation-iteration-count: infinite; // 반복 설정
        animation-direction: alternate; // 재생 방향 설정
      }

      @keyframes move {
        100% {
          margin: 0rem;
        }
      }

      >p {
        margin-top: 6px;
        color: rgba(#5cffc0, 0.3);
      }
    }
  }

  /* section main_VIDEO 종료 */

  /* section PROMO 시작 */
  .PROMO {
    .row {
      h2 {
        margin-bottom: 20px;
      }
    }
  }

  /* section PROMO 종료 */

  /* section UNIVERSE 시작 */
  .UNIVERSE {
    h2 {}

    p {
      text-align: center;
      font-size: 20px;
      line-height: 1.8;
      margin-bottom: 30px;
    }

    .swiper {
      width: 100%;

      .swiper-wrapper {
        .swiper-slide {
          box-sizing: border-box;
          padding: 15px 15px 0 15px;
          border-radius: 16px;
          background-color: #000;
          margin-left: 1.5px;

          img {
            width: 100%;
            border-radius: 12px;
          }

          p {
            font-size: 16px;
            padding: 5px;
            margin-bottom: 0;

            span {
              color: #5cffc0;
            }
          }
        }
      }
    }

    a {
      margin-top: 60px;
    }
  }

  /* section UNIVERSE 종료 */

  /* section ROADMAP 시작 */

  .ROADMAP {
    .row {
      width: 100%;
      max-width: 1160px;

      h2 {}

      article {
        display: flex;
        border-radius: 16px;
        background-color: #000;

        .tabMenu {
          width: 144px;
          border-radius: 16px 0 0 16px;
          background-color: #333;

          li {
            position: relative;
            height: 39px;
            font-size: 32px;
            padding: 24px 0;
            text-align: center;
          }

          .active {
            &:before {
              position: absolute;
              content: "";
              width: 4px;
              height: 30px;
              background-color: #5cffc0;
              top: 48%;
              left: 0;
              transform: translate(-50%, -50%);
              border-radius: 5px;
            }
          }
        }

        .tabList {
          max-width: 920px;
          height: 404px;
          padding: 48px;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;

          div {
            li {
              line-height: 2;

              &::before {
                content: "· ";
              }

              &:hover {
                color: #5cffc0;
                cursor: pointer;
              }
            }
          }

          img {
            margin-left: 120px;
            display: block;
            width: 200px;
            object-fit: contain;
          }
        }
      }
    }
  }

  /* section ROADMAP 종료 */

  /* section TEAM 시작 */
  .TEAM {
    >p {
      font-size: 20px;
      line-height: 36px;
      font-weight: 400;
      text-align: center;
    }

    .swiper {
      margin-top: 40px;
      width: 100%;

      ul {
        li {
          box-sizing: border-box;
          background-color: #000;
          border-radius: 13px;
          padding: 10px;
          margin-left: 1.5px;

          .img_area {
            img {
              width: 100%;
            }
          }

          .title_area {
            text-align: center;
            white-space: nowrap;

            .name {
              padding: 10px;
              font-size: 26px;
              line-height: 26px;
            }

            .job {
              padding: 10px;
              font-size: 16px;
              line-height: 16px;
            }
          }
        }
      }
    }
  }

  /* section TEAM 종료 */

  /* section PARTNERS 시작 */

  .PARTNERS {
    .inner {
      width: 100%;
      max-width: 1360px;

      .row {
        p {
          text-align: center;
          font-size: 20px;
          line-height: 2;
        }

        ul {
          display: flex;
          flex-wrap: wrap;
          margin-top: 2rem;

          li {
            width: 16.6666%;
            box-sizing: border-box;
            padding: 8px;

            div {
              min-height: 112px;
              border-radius: 16px;
              background-color: #161616;
            }
          }
        }
      }
    }
  }

  /* section PARTNERS 종료 */

  /* section COMMUNITY 시작 */

  .GALLERY {
    background-color: #156;
    .row {
      padding: 0;
      background-color: #222;

      p {
        text-align: center;
        font-size: 20px;
        line-height: 1.8;
        margin-bottom: 30px;
      }

      .swiper {
        // width: 100%;        
        max-width: 1360px;
        // background-color: rgba(255, 255, 255, 0.129);

        .swiper-wrapper {
          .swiper-slide {
            box-sizing: border-box;
            padding: 10px;
            border-radius: 10px;
            background-color: #000;
            img {
              width: 100%;
            }
          }
        }

        .swiper-pagination {
          display: none;
        }
      }
    }

    a {
      margin-top: 70px;
    }
  }

  /* section COMMUNITY 종료 */
}

/* main 종료 */