@charset "UTF-8";
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  background-color: rgba(1, 1, 1, 0.8745098039);
  background-color: orange;
  color: #fff;
}

a {
  color: #fff;
}

a.btnStyle {
  width: 280px;
  height: 60px;
  font-size: 20px;
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid #fff;
  transition: 0.3s;
  text-align: center;
  line-height: 60px;
  box-sizing: border-box;
}
a.btnStyle:hover {
  background: linear-gradient(to right, #31f8ab, #39c2ee);
  border: 0;
  color: #101010;
}

.inner {
  width: 1360px;
  margin: 0 auto;
}

.row {
  box-sizing: border-box;
  padding: 0 32px;
}

.active {
  color: #5cffc0;
}

.hide {
  display: none;
}

/* header 시작 */
header {
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .inner .header {
  display: flex;
  justify-content: space-between;
}
header .inner .header nav {
  width: calc(100% - 220px);
}
header .inner .header nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header .inner .header nav ul li a:hover {
  color: #5cffc0;
}

/* header 종료 */
/* main 시작 */
main {
  /* section main_VIDEO 시작 */
  /* section main_VIDEO 종료 */
  /* section PROMO 시작 */
  /* section PROMO 종료 */
  /* section UNIVERSE 시작 */
  /* section UNIVERSE 종료 */
  /* section ROADMAP 시작 */
  /* section ROADMAP 종료 */
  /* section TEAM 시작 */
  /* section TEAM 종료 */
  /* section PARTNERS 시작 */
  /* section PARTNERS 종료 */
  /* section COMMUNITY 시작 */
  /* section COMMUNITY 종료 */
}
main section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main section h2 {
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  line-height: 2;
}
main .main_VIDEO::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
main .main_VIDEO video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -2;
}
main .main_VIDEO > p {
  font-size: 72px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 4.25rem;
  text-align: center;
}
main .main_VIDEO > p strong {
  color: #5cffc0;
}
main .main_VIDEO > .mouseScroll {
  position: absolute;
  bottom: 30px;
  width: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
main .main_VIDEO > .mouseScroll > img {
  margin: 4px;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
@-webkit-keyframes move {
  100% {
    margin: 0rem;
  }
}
@keyframes move {
  100% {
    margin: 0rem;
  }
}
main .main_VIDEO > .mouseScroll > p {
  margin-top: 6px;
  color: rgba(92, 255, 192, 0.3);
}
main .PROMO .row h2 {
  margin-bottom: 20px;
}
main .UNIVERSE p {
  text-align: center;
  font-size: 20px;
  line-height: 1.8;
  margin-bottom: 30px;
}
main .UNIVERSE .swiper {
  width: 100%;
}
main .UNIVERSE .swiper .swiper-wrapper .swiper-slide {
  box-sizing: border-box;
  padding: 15px 15px 0 15px;
  border-radius: 16px;
  background-color: #000;
  margin-left: 1.5px;
}
main .UNIVERSE .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  border-radius: 12px;
}
main .UNIVERSE .swiper .swiper-wrapper .swiper-slide p {
  font-size: 16px;
  padding: 5px;
  margin-bottom: 0;
}
main .UNIVERSE .swiper .swiper-wrapper .swiper-slide p span {
  color: #5cffc0;
}
main .UNIVERSE a {
  margin-top: 60px;
}
main .ROADMAP .row article {
  display: flex;
  border-radius: 16px;
  background-color: #000;
}
main .ROADMAP .row article .tabMenu {
  width: 144px;
  border-radius: 16px 0 0 16px;
  background-color: #333;
}
main .ROADMAP .row article .tabMenu li {
  position: relative;
  height: 39px;
  font-size: 32px;
  padding: 24px 0;
  text-align: center;
}
main .ROADMAP .row article .tabMenu .active:before {
  position: absolute;
  content: "";
  width: 4px;
  height: 30px;
  background-color: #5cffc0;
  top: 48%;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}
main .ROADMAP .row article .tabList {
  max-width: 920px;
  height: 404px;
  padding: 48px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
main .ROADMAP .row article .tabList div li {
  line-height: 2;
}
main .ROADMAP .row article .tabList div li::before {
  content: "· ";
}
main .ROADMAP .row article .tabList div li:hover {
  color: #5cffc0;
  cursor: pointer;
}
main .ROADMAP .row article .tabList img {
  margin-left: 120px;
  display: block;
  width: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}
main .TEAM > p {
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}
main .TEAM .swiper {
  margin-top: 40px;
  width: 100%;
}
main .TEAM .swiper ul li {
  box-sizing: border-box;
  background-color: #000;
  border-radius: 13px;
  padding: 10px;
  margin-left: 1.5px;
}
main .TEAM .swiper ul li .img_area img {
  width: 100%;
}
main .TEAM .swiper ul li .title_area {
  text-align: center;
  white-space: nowrap;
}
main .TEAM .swiper ul li .title_area .name {
  padding: 10px;
  font-size: 26px;
  line-height: 26px;
}
main .TEAM .swiper ul li .title_area .job {
  padding: 10px;
  font-size: 16px;
  line-height: 16px;
}
main .PARTNERS .inner {
  width: 100%;
}
main .PARTNERS .inner .row p {
  text-align: center;
  font-size: 20px;
  line-height: 2;
}
main .PARTNERS .inner .row ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}
main .PARTNERS .inner .row ul li {
  width: 16.6666%;
  box-sizing: border-box;
  padding: 8px;
}
main .PARTNERS .inner .row ul li div {
  min-height: 112px;
  border-radius: 16px;
  background-color: #161616;
}
main .COMMUNITY .row {
  padding: 0;
}
main .COMMUNITY .row p {
  text-align: center;
  font-size: 20px;
  line-height: 1.8;
  margin-bottom: 30px;
}

/* main 종료 *//*# sourceMappingURL=main.css.map */