@media (max-width: 940px) {
  header {
    padding: 0;

    .inner {
      width: 100%;
      display: flex;
      justify-content: center;

      h1 {

        a {
          img {}
        }
      }

      nav {
        display: none;

        h2 {}

        ul {

          li {
            a {
              &:hover {}
            }
          }
        }

      }
    }
  }

  main {
    .main_VIDEO {
      >p {
        font-size: 30px;
      }

      a {
        width: 208px;
        height: 43px;
        font-size: 15px;
        line-height: 43px;
        transition: 0s;
      }

      >.mouseScroll {
        >img {}

        >p {
          font-size: 12px;
        }
      }
    }

    .PROMO {
      video {
        width: 100%;
      }
    }

    .UNIVERSE {
      .swiper {
        width: 92%;

        .swiper-wrapper {
          .swiper-slide {
            margin-left: 0;
          }
        }
      }
    }

    .ROADMAP {
      .row {
        width: 100%;
        article {
          flex-direction: column;

          .tabMenu {
            display: flex;
            width: 100%;
            border-radius: 16px 16px 0 0;

            li {
              width: 80px;
            }

            .active {
              &:before {
                bottom: 0;
                height: 4px;
                top: auto;
                width: 100%;
                transform: translate(0%, 34%);
              }
            }
          }

          .tabList {
            flex-direction: column;
            div {
            }
            img {
              margin-left: 0;
              margin: 20px 0;
              width: 150px;
            }
          }
        }
      }
    }

    .TEAM {
      .swiper {
        width: 92%;

        .swiper-wrapper {
          .swiper-slide {
            margin-left: 0;
          }
        }
      }
    }
  }
}